.phone-container {
  width: 450px; /* Increased from 300px */
  height: 675px; /* Increased from 450px */
  margin: 30px auto; /* Slightly increased margin */
  border: 1.5px solid #333; /* Slightly thicker border */
  border-radius: 30px; /* Increased from 20px */
  background-color: #000;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5); /* Slightly larger shadow */
  overflow: hidden;
}

.phone-screen {
  padding: 30px; /* Increased from 20px */
  color: #e0e0e0;
  overflow-y: auto;
  height: calc(100% - 60px); /* Adjusted for increased padding */
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px; /* Increased from 10px */
}

.app-icon {
  background-color: #1c1e21;
  padding: 22px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  font-size: 18px;
  width: 70px; /* Fixed width */
  height: 70px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-icon:hover, .app-icon:focus {
  background-color: #0071ce;
  transform: scale(1.15);
}


.section-content {
  background-color: #1c1e21;
  padding: 22px; /* Increased from 15px */
  border-radius: 12px; /* Increased from 8px */
  margin-top: 30px; /* Increased from 20px */
  display: block;
  transition: transform 0.3s, background-color 0.3s; /* Added transition for background-color */
}

.section-content:hover {
  transform: scale(1.1); /* Slightly larger scale on hover */
  background-color: #196ce9;
}
@media screen and (max-width: 768px) {
  .phone-container {
    width: 250px; /* Smaller width for mobile */
    height: 350px; /* Smaller height for mobile */
    margin: 15px auto; /* Adjust margin for mobile */
    border-radius: 20px; /* Adjust border-radius for mobile */
    /* ... other styles you want to adjust for mobile ... */
  }

  .phone-screen {
    padding: 20px; /* Adjust padding for mobile */
    /* ... other styles you want to adjust for mobile ... */
  }

  .app-grid {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px; /* Adjust gap for mobile */
    /* ... other styles you want to adjust for mobile ... */
  }

  .app-icon {
    padding: 10px; /* Adjust padding for mobile */
    border-radius: 10px; /* Adjust border-radius for mobile */
    font-size: 14px; /* Adjust font-size for mobile */
    width: 40px; /* Adjust width for mobile */
    height: 40px; /* Adjust height for mobile */
    /* ... other styles you want to adjust for mobile ... */
  }

  .section-content {
    padding: 15px; /* Adjust padding for mobile */
    border-radius: 8px; /* Adjust border-radius for mobile */
    margin-top: 20px; /* Adjust margin-top for mobile */
    /* ... other styles you want to adjust for mobile ... */
  }
  
}